.rent {
    display: none;
}

.sale {
    display: none;
}

.announcement {
    height: 400px;
    width: 260px;
    background: #fef7e7;
    margin:0 auto 30px auto;
    position: relative;
    cursor: pointer;
}

.announcement img {
    width: 260px;
    height: 190px;
    padding: 15px;
}

.numbers {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 230px;
    background: #ddd;
    margin: 15px;
}

.price {
    height: 40px;
    width: 50%;
    line-height: 40px;
    float: left;
    text-align: center;
    background: #fab316;
    color: rgba(0,0,0,0.7);
}

.square {
    height: 40px;
    width: 50%;
    line-height: 40px;
    float: left;
    text-align: center;
    background: #f05a28;
    color: rgba(255,255,255,0.85);
}

.name {
    text-align: center;
}

.info {
    margin: 15px;
    width: 230px;
    height: 80px;
    font-size: 12px;
}

