@font-face {
    font-family: Lucida;
    src: url(../fonts/LCALLIG.TTF);
}

@font-face {
    font-family: LibreBaskerville;
    src: url(../fonts/libre-baskerville/LibreBaskerville-Regular.otf);
}

@font-face {
    font-family: LibreBaskerville-Bold;
    src: url(../fonts/libre-baskerville/LibreBaskerville-Bold.otf);
}

@font-face {
    font-family: LibreBaskerville-Italic;
    src: url(../fonts/libre-baskerville/LibreBaskerville-Italic.otf);
}



body {
    background: url(../img/background.jpg);
    position: relative;
    font-family: LibreBaskerville;
    font-size: 14px;
}

p {
    font-family: LibreBaskerville;
    margin: 0;
    padding: 0;
}

b {
    font-family: LibreBaskerville-Bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: LibreBaskerville-Bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: LibreBaskerville;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: LibreBaskerville;
    margin: 0;
    padding: 0;
}

.body {
    width: 100%;
    padding: 130px 0;
}

#up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-image: url(../img/upArrow.png);
    z-index: 1000;
    cursor: pointer;
    display: none;
}

#upHover {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-image: url(../img/arrowHover.png);
    z-index: 1000;
    cursor: pointer;
    display: none;
    z-index: -1;
}