.top-block {
    height: 100px;
    z-index: 1000;
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    top: 0px;
}

#logo {
    float: left;
    width: 100%;
}

.option {
    text-align:center;
    color: white;
}

.option p {
    padding: 30px 0 26px 0;
    line-height: 40px;
    cursor: pointer;
    font-size: 16px;
}

.option div{
    width: 100%;
    height: 4px;
    visibility:hidden;
}

#mark1 {
    background: #fab316;
}

#mark2 {
    background: #f05a28;
}

#login {
    width: 100px;
    float: left;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    margin: 30px 0;
    background: #fab316;
    cursor: pointer;
}

#registry {
    width: 160px;
    float: left;
    text-align: center;
    color: white;
    height: 40px;
    line-height: 40px;
    margin: 30px 0;
    background: #f05a28;
    cursor: pointer;
}