.searchMenu {
    position: fixed;
    top: 100px;
    height: 100%;
    left: 400px;
    z-index: 100;
}

.searchButton {
    margin-top: 40%;
    height: 150px;
    width: 30px;
    float: left;
    cursor: pointer;
}

#searchHover {
    position: relative;
    margin-top: 40%;
    left: -30px;
    visibility:hidden;
    z-index: -1;
}

.searchMain{
    width: 370px;
    height: 100%;
    float: left;
    background-image: url(../img/wood.jpg);
    background-size:contain;
    border-right: 4px solid rgba(0,0,0,0.5);
}


.searchHeader{
    text-align: center;
    margin: 15px auto;
    color: white;
}

.searchHeader h3{
    font-size: 16px;
}

.search {
    margin: 20px 0;
    position: relative;
}

.search input {
    height: 40px;
    width: 340px;
    padding: 10px 40px 10px 10px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    margin: 0 10px;
    background: rgba(0,0,0,0.6);
    color: white;
}
.search img {
    height: 24px;
}

.search button {
    border: none;
    background: none;
    padding: 8px;
    position: absolute;
    right: 14px;
}

.searchOptions {
    margin: 20px 10px;
    height: 40px;
    width: 340px;
}

.searchOptions button {
    height: 40px;
    width: 150px;
    margin: 0 10px;
    line-height: 40px;
    float: left;
    text-align: center;
    color: white;
    border: none;
}

#apply {
    background: #fab316;
}

#clear {
    background: #f05a28;
}