.searchMenu {
    position: fixed;
    top: 100px;
    height: 100%;
    left: 400px;
    z-index: 100;
}

.searchButton {
    margin-top: 40%;
    height: 150px;
    width: 30px;
    float: left;
    cursor: pointer;
}

#searchHover {
    position: relative;
    margin-top: 40%;
    left: -30px;
    visibility:hidden;
    z-index: -1;
}

.searchMain{
    width: 370px;
    height: 100%;
    float: left;
    background-image: url(../img/wood.jpg);
    background-size:contain;
    border-right: 4px solid rgba(0,0,0,0.5);
}


.searchHeader{
    text-align: center;
    margin: 15px auto;
    color: white;
}

.searchHeader h2{
    font-size: 20px;
}
