.searchMenu {
    position: fixed;
    top: 100px;
    height: 100%;
    left: 400px;
    z-index: 100;
}

.searchMain{
    width: 370px;
    height: 100%;
    float: left;
    background: #CDBA96;
}


.searchHeader{
    text-align: center;
    margin-top: 5%;
    margin-left: 40%;
    float: left;
    background-color: darkorange;
    font-size: 16px;
}

.searchButton {
    margin-top: 40%;
    height: 20%;
    width: 30px;
    background: red;
    float: left;
}